<div>

    <h2>
        The data:
    </h2>

    <table class="striped">
        <thead>
            <tr>
                <th data-field="avatar"></th>
                <th data-field="star"></th>
                <th data-field="firstName">First name</th>
                <th data-field="lastName">Last name</th>
                <th data-field="jobTitle">Job title</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="person in persons.list" ui-sref="item({id: person.id})">
                <td><img alt="" class="circle" height="36" ng-src="{{person.avatar}}" width="36"></td>
                <td>
                    <star person="person"></star>
                </td>
                <td>{{person.firstName}}</td>
                <td>{{person.lastName}}</td>
                <td>{{person.jobTitle}}</td>
            </tr>
        </tbody>
    </table>

</div>
